.login {
    width:400px;
    background-color: #001529;
    padding: 2em;
    margin: auto;
    color: azure;
    text-align: center;
}
.title {
    color: white;
}
.input{
    margin: 1em 0;
}

.register{
    margin: 1em 0;
    color: azure;   
}
 
