
.login {
    width:400px;
    background-color: #7d7bbd;
    padding: 2em;
    margin: auto;
    margin-top: 12em;
    color: azure;
    text-align: center;
}

.input{
    margin: 1em 0;
}

.register{
    margin: 1em 0;
    color: azure;   
}

.register a{
    color: azure;
    text-decoration: underline;
}
 
 