.wrapper {
  padding: 1.5em 0 0em 0;
  margin: 0em 0 2em 0;
}
/* INPUT INFORMATION */
.title {
  padding-left: 1em;
}

/* INTRODUCE WORDS */
.introductionWrapper {
  height: 143px;
  background-color: #cccccc;
  padding: 0 0.5em;
}
.introduceTitle {
  text-align: center;
  font-size: 1.25em;
}
.TextArea {
  height: 100px !important;
}

/* BUTTON */
/* .buttonWrapper {
  text-align: right;
}
.button {
  background-color: #242273 !important;
  border-color: #242273;
  color: white;
}
.button:hover {
  background-color: #4f4e8f !important;
  border-color: #242273;
  color: #242273;
} */
