.selectWrapper {
  padding: 1em 0em 1.5em;
}
/* style for hc part */
.wrapper {
  background-color: #ffffff;
  padding: 0.5em 2em;
  margin-top: 0.5em;
  line-height: 3;
}
.text {
  font-size: 1em;
}
